  body {
  background-color: grey;
}
    
    #Welcome {
  text-align: center;
  text-decoration: underline;
  text-decoration: bold
}

h2 {
  text-decoration: underline;

.button {
  display: inline-block;
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button a {
  color: inherit;
  text-decoration: none;
}

.button:hover {
  background-color: #ddd;
}

.button:active {
  background-color: #bbb;
}
