/* main.css */

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

h1#TopHeading {
  color: #333;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
  text-decoration: bold;
}

h2 {
  color: #666;
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button a {
  color: #fff;
  text-decoration: none;
}

button:hover {
  background-color: blue;
}

button:active {
  background-color: #3d8b3d;
}
