#Pog {color: blue; font-size: 20}
#NotPog {color: purple; font-size: 25}
#TopHeading {text-align: center;}
#Para1 {font-size: 30;}
#Heading2 {text-align: right; text-decoration: underline;}

body1{background-color: lightblue;}

h1{color: red;}
h1{text-align: left;}

button{color: black;}
button{background-color: green;}

h2{color: magenta; text-align: center}

h3{color: blue;}

h4{color: gray;}

h5{color: green;}

h6{color: lightpurple;
text-align: right}

p {
  font-family: verdana;
  font-size: 10px;
}

table, th, td {
  border: 20px solid magenta;
  border-collapse: collapse;
}

#Welcome {
text-align: center;
text-decoration: underline;
text-decoration: bold
}

#AboutMe {
  text-decoration: underline;
}
