#Welcome {
text-align: center;
text-decoration: underline;
text-decoration: bold
}

#AboutMe {
  text-decoration: underline
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: lightgrey;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
button:hover {
    background-color: lightblue;
}

body {
  background-color: grey;
}
