body{background-color: green;}
p{color: white;}

h1{color: darkgray;}
h1{text-align: center;}

button{color: black;}
button{background-color: magenta;}

h2{color: magenta; text-align: center; text-decoration: line-through;}



h3{color: pink;}

h4{color: orange;}

h5{color: green;}

h6{color: lightpurple;
text-align: right}

p {
  font-family: verdana;
  font-size: 20px;
}

table, th, td {
  border: 5px solid red;
  border-collapse: collapse;
}

td, th{
color: white;
}

ol{color: magenta}

ul{color: lightblue}
